![Illustration of silhouetted heads](assets/images/mentalhealth.jpg)

Does going to university in a different country affect your mental health? A Japanese international university surveyed its students in 2018 and published a study the following year that was approved by several ethical and regulatory boards.

The study found that international students have a higher risk of mental health difficulties than the general population, and that social connectedness (belonging to a social group) and acculturative stress (stress associated with joining a new culture) are predictive of depression.


Explore the `students` data using PostgreSQL to find out if you would come to a similar conclusion for international students and see if the length of stay is a contributing factor.

Here is a data description of the columns you may find helpful.

In [4]:
import duckdb
import pandas as pd
students = pd.read_csv("ds/students.csv")

| Field Name    | Description                                      |
| ------------- | ------------------------------------------------ |
| `inter_dom`     | Types of students (international or domestic)   |
| `japanese_cate` | Japanese language proficiency                    |
| `english_cate`  | English language proficiency                     |
| `academic`      | Current academic level (undergraduate or graduate) |
| `age`           | Current age of student                           |
| `stay`          | Current length of stay in years                  |
| `todep`         | Total score of depression (PHQ-9 test)           |
| `tosc`          | Total score of social connectedness (SCS test)   |
| `toas`          | Total score of acculturative stress (ASISS test) |

In [5]:
# Run this code to view the data in students
consulta ="""
SELECT *
FROM students
LIMIT 5;
"""
rsl=duckdb.sql(consulta).to_df()
rsl

,inter_dom,region,gender,academic,age,age_cate,stay,stay_cate,japanese,japanese_cate,...,friends_bi,parents_bi,relative_bi,professional_bi,phone_bi,doctor_bi,religion_bi,alone_bi,others_bi,internet_bi
0,Inter,SEA,Male,Grad,24.0,4.0,5.0,Long,3.0,Average,...,Yes,Yes,No,No,No,No,No,No,No,No
1,Inter,SEA,Male,Grad,28.0,5.0,1.0,Short,4.0,High,...,Yes,Yes,No,No,No,No,No,No,No,No
2,Inter,SEA,Male,Grad,25.0,4.0,6.0,Long,4.0,High,...,No,No,No,No,No,No,No,No,No,No
3,Inter,EA,Female,Grad,29.0,5.0,1.0,Short,2.0,Low,...,Yes,Yes,Yes,Yes,No,No,No,No,No,No
4,Inter,EA,Female,Grad,28.0,5.0,1.0,Short,1.0,Low,...,Yes,Yes,No,Yes,No,Yes,Yes,No,No,No

In [ ]:
#Update your query here
consulta ="""
select 
	stay,
	count(inter_dom) as count_int,
	round(avg(todep),2) as average_phq,
	round(avg(tosc),2) as average_scs, 
	round(avg(toas),2) as average_as
from
	students
where
	inter_dom = 'Inter'
group by
	stay
order by 
	stay desc;
"""
rsl=duckdb.sql(consulta).to_df()
rsl

   stay  count(inter_dom)  average_phq  average_scs  average_as
0  10.0                 1        13.00        32.00       50.00
1   8.0                 1        10.00        44.00       65.00
2   7.0                 1         4.00        48.00       45.00
3   6.0                 3         6.00        38.00       58.67
4   5.0                 1         0.00        34.00       91.00
5   4.0                14         8.57        33.93       87.71
6   3.0                46         9.09        37.13       78.00
7   2.0                39         8.28        37.08       77.67
8   1.0                95         7.48        38.11       72.80